.section--gallery {
    text-align: center;

    .section__grid {
        display: flex;
        flex-wrap: wrap;
        height: 10rem;

        &__cell {
            border: 0;
            background-position: center;
            background-size: cover;
            flex-basis: 33%;
            min-width: 33%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
           
            &:focus {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 90%;
            }

            &:hover {
                label {
                    opacity: 1;
                }
            }

            label {
                opacity: 0;
                padding: 1rem;
                color: white;
                background: black;
                transition: opacity 0.5s ease;
            }
        }
    }
}
