<section class="section section--gallery">
    <div class="container">
        <h2 class="section__heading">{{ include.section.heading }}</h2>

        <div class="section__body">
            {{ include.section.body }}
            
            {% if include.section.video %}
                <div class="section__video">
                    <iframe type="text/html" src="https://www.youtube.com/embed/{{ include.section.video }}" frameborder="0"></iframe>
                </div>
            {% endif %}
        </div>

        <div class="section__grid">
            {% for image_id in include.section.images %}
                {% include hashbrown/get_media_by_id id=image_id %}
                {% assign image = result %} 

                <div class="section__grid__cell">
                    <input type="checkbox" class="section__grid__cell__toggle" title="{{ image.name }}">
                    <div class="section__grid__cell__content" style="background-image: url('{{ image.path }}')"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
