<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://kimberlyliu.com{{ page.url }}" />
        <meta property="og:image" content="http://kimberlyliu.com/assets/img/opengraph-cover.jpg" />

        <link rel="stylesheet" type="text/css" href="/assets/css/app.css" media="screen">
        <link rel="canonical" href="http://kimberlyliy.com{{ page.url }}">

        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
    </head>
    <body>
        <header class="header">
            <div class="container header__content">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
            </div>
        </header>

        {% for section in page.sections %}
            {% if section and section.template %}
                {% include partials/{{ section.template }}.html section=section %}
            {% else %}
                <div class="error">
                    Error: Section has no template
                    {{ section | inspect }}
                </div>
            {% endif %}
        {% endfor %}

        <footer class="footer">
            <h4>Kimberly Liu</h4>

            <div class="container footer__links">
                <a class="footer__link" href="https://www.linkedin.com/in/kimberly-liu-a5626027/">
                    <img src="/assets/svg/linkedin.svg">
                    @kimberlyliu
                </a>
            </div>
        </footer>
    </body>
</html>
